# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Audit files
*audit*.txt
*audit*.json
npm-audit-results.json
yarn-audit-results.json
